@import './bourbon/bourbon'; // http://bourbon.io/

@import '../partials/layout'; // responsive grid and media queries

@import './font-awesome/font-awesome';

// color palette - these colors will be the color swatches of the Colors section

$color-black: 	#0d0d0d; // Near Black
$color-yellow: 	#fff200; // Yellow - Action color
$color-red: 	#ee1c25; // Red
$color-green: 	#6fce72; // Green
$color-grey: 	#e6e6e6; // light grey
$color-white: 	#ffffff; // white

// additional colors

$success: $color-green; // green
$alert: $color-red;  // red

// Social Media colors

$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;

// fonts

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$serif-font: serif;

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
	/* this is the page background */
	background-color: $color-white;
}

/* --------------------------------

xPatterns

-------------------------------- */

.cd-box {
	/* this is the container of various design elements - i.e. the 2 logo of the branding section */
	border: 1px solid $color-grey;
	border-radius: 3px;
	background: $color-white;
	box-shadow: 0 1px 1px rgba(#000, .05);
	padding: 6px;
}

.bg-black {
  background: $color-black;
}

/* -------------------------------- 

xNavigation 

-------------------------------- */

header {
	background-color: $color-black;
	opacity: .60;

	h2 {
		font-style: italic;
		font-weight: 600;
		color: $color-yellow;
	}
}

.cd-logo {
	/* logo box style */
	background-color: transparent;
	width: 80px;
	height: 80px;
	left:0;

	@include MQ(S) {
		width: 100px;
		height: 100px;
	}

	@include MQ(M) {
		width: 130px;
		height: auto;
	}
}

.cd-main-nav {
	/* main navigation background color - full screen on small devices */
	background: $color-black;
	font-family: $secondary-font;
  	font-weight: 800;
  	text-transform: uppercase;

	li a {
		color: $color-white;
		border-color: lighten($color-black, 5%);
	}

	@include MQ(M) {
		li a  {
			&.selected {
				color: $color-grey;
				box-shadow: 0 2px 0 $color-yellow;
			}

			&.no-touch &:hover {
				color: $color-yellow;
			}
		}
	}
}

.cd-nav-trigger span {
	/* hamburger menu */
	background-color: $color-white;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $color-white;
	}
}

.nav-is-visible {
	opacity: 1;
}

.nav-is-visible .cd-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($color-white, 0);

	&::before, &::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($color-white, 1);
	}
}

.cd-download {
	/* download button top-right visible on big devices */
	background-color: transparent;

	.no-touch &:hover {
		background-color: lighten($color-black, 5%);
	}

	span {
		/* tooltip */
		background: $color-yellow;
		color: $color-white;

		&::before {
			/* right arrow color */
			border-color: $color-yellow;
		}
	}
}

/* -------------------------------- 

xPage title 

-------------------------------- */


main > h1 {

	display: block;
}

/* -------------------------------- 

xTypography 

-------------------------------- */

h1, h2, h3{
	font-family: $secondary-font;
	color: $color-black;
}

h1 {
	color: $color-yellow;
	background-color: $color-black;
	font-size: 2.4rem;
	font-weight: 800;
	line-height: 1.2;
	margin: 0 0 .4em;
	padding: 7pt 5pt;

	@include MQ(S) {
		font-size: 3.2rem;
	}

	@include MQ(M) {
		font-size: 5rem;
	}
}

h2 {
	font-weight: 800;
	//text-transform: uppercase;
	margin: 1em 0;

	@include MQ(S) {
		font-size: 1.8rem;
		margin: 1em 0 1.4em;
	}
}

section > h2::before {
	/* number before each section title */
	color: darken($color-grey, 15%);
}

.author {
	font-family: $serif-font;
	color: $color-yellow;
	background-color: $color-black;
	line-height: 1.2;
	margin: 1em 0;
	font-style: italic;
	font-weight: 600;
	font-size: 1.8rem;
	padding: 5pt;

	a {
		color: darken($color-yellow, 5%);
		//text-decoration: none;
	}

	@include MQ(S) {
		font-size: 1.8rem;
		margin: 1em 0 1.4em;
	}
}

.author::before {
	/* by before the author's name */
	content: 'by ';
	font-style: normal;
	font-weight: 400;
	color: darken($color-grey, 15%);
}

blockquote {
	border-top: 10px solid $color-grey;
	border-bottom: 2px solid $color-grey;
	padding: 10px;
	font-size: 2.4rem;
	font-weight: 800;
	line-height: 1.2;
	margin: .4em 0;

	a {
		color: darken($color-yellow, 5%);
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: 3.2rem;
	}

	@include MQ(M) {
		font-size: 4rem;
	}
}

cite {
	font-size: 1.4rem;
	line-height: 1.4;
	a {
		color: darken($color-yellow, 5%);
		text-decoration: underline;
	}
	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

q {
	font-size: 1.4rem;
	line-height: 1.4;
	font-style: italic;
	margin: .4em 0;
	
	a {
		color: darken($color-yellow, 5%);
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}
q:before, q:after {
    font-size: 1.4rem;
    line-height: 1;
}
q:before {
    content: "\201C";
}
q:after {
    content: "\201D";
}

p {
	font-size: 1.4rem;
	line-height: 1.4;
	color: lighten($color-black, 25%);
	margin: 1em 0;

	a {
		color: darken($color-yellow, 5%);
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

/* -------------------------------- 

xButtons 

-------------------------------- */

.btn {
	
	border: none;
	box-shadow: none;
	border-radius: .25em;
	font: {
		size: 2.4rem;
		weight: 800;
		family: $secondary-font;
	}
	color: $color-white;
	padding: 3pt 10pt;
	cursor: pointer;
	background: $color-yellow;
	color: $color-black;
	text-transform: uppercase;

	&:focus {
		outline: none;
	}

	.no-touch &:hover {
		background: lighten($color-yellow, 5%);
	}

	&.btn-success {
		background: $success;
		color: $color-white;
		.no-touch &:hover {
			background: lighten($success, 5%);
		}
	}

	&.btn-alert {
		background: $alert;
		color: $color-yellow;
		.no-touch &:hover {
			background: lighten($alert, 5%);
		}
	}

	&.btn-outline {
		color: $color-black;
		background: transparent;
		box-shadow: inset 0 0 0 1px $color-black;

		.no-touch &:hover {
			color: $color-white;
			background: $color-yellow;
		}
	}

	@include MQ(S) {
		font-size: 1.6rem;
		padding: 7pt 10pt;
	}
}

.cd-buttons .cd-box:nth-of-type(2) span {
	/* CSS class name color */ 
	color: $color-green;
}

/* -------------------------------- 

xIcons 

-------------------------------- */

.cd-icons li {
	/* icons size */

	width: 80px;
	height: 80px;

}


.icon-scaling li:nth-of-type(4) {
			width: 90px;
}

.icon-scaling li:nth-of-type(5) {
			width: 110px;
}

.social-buttons li {
	position: relative;
	color: $color-white;
	
	&.btn-facebook {
		background-color: $facebook;
	} 

	&.btn-twitter {
		background-color: $twitter;
	}

	&.btn-tumblr {
		background: $tumblr;
	}

	&.btn-youtube {
		background-color: $youtube;
	} 
	
	&.btn-instagram {
		background-color: $instagram;
	}

	border-radius: 50px;

	& i {
		position: absolute;

		&.fa-facebook, &.fa-tumblr {
			top: 25%;
			left: 33%;
		}

		&.fa-youtube, &.fa-instagram, &.fa-twitter {
			top: 20%;
			left: 25%
		}
	}
}

/* -------------------------------- 

xForm 

-------------------------------- */

#form .cd-box {
	background-color: $color-grey;
	//background: $color-grey;
}

input[type=text], select {
	border: 1px solid $color-grey;
	border-radius: .25em;
	background: $color-white;

	&:focus {
		outline: none;
	}
}

input[type=text] {
	vertical-align: top; // make align with buttons
	padding: .6em 1em;
	box-shadow: inset 1px 1px rgba(#000, .03);

	&.success {
		border-color: $success;
		box-shadow: 0 0 6px rgba($success, .2);
	}

	&.alert {
		border-color: $alert;
		box-shadow: 0 0 6px rgba($alert, .2);
	}

	&:focus {
		border-color: $color-yellow;
		box-shadow: 0 0 6px rgba($color-yellow, .2);
	}
}

input[type=radio],
input[type=checkbox] {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.radio-label,
.checkbox-label {
	padding-left: 24px;
	@include user-select(none);

	&::before,
	&::after {
		/* custom radio and check boxes */
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
	}

	&::before {
		left: 0;
		border: 1px solid  darken($color-grey, 50%);
		box-shadow: inset 1px 1px rgba($color-grey, .03);
		//background-color: $color-grey;
	}

	&::after {
		left: 3px;
		background: url('../assets/form/icon-check.svg') no-repeat center center;
		background-color: $color-grey;
		display: none;
	}
}

.radio-label::before {
	border-radius: 50%;
}

.checkbox-label::before {
	border-radius: 3px;
}

input[type=radio]:checked + label::before,
input[type=checkbox]:checked + label::before {
	//background-color: darken($color-grey, 50%);
	border: none;
	box-shadow: none;
}

input[type=radio]:checked + label::after,
input[type=checkbox]:checked + label::after {
	display: block;
}

.cd-select::after {
	/* switcher arrow for select element */
	content: '';
	position: absolute;
	z-index: 1;
	right: 14px;
	top: 50%;
	@include transform(translateY(-50%));
	display: block;
	width: 16px;
	height: 16px;
	background: url('../assets/form/icon-select.svg') no-repeat center center;
	pointer-events: none;
}

select {
	position: relative;
	padding: .6em 2em .6em 1em;
	cursor: pointer;
	@include appearance(none);
}

/* -------------------------------- 

xLayouts 

-------------------------------- */

.cd-layouts {
	width: 48%;
	float: none;
	margin: 0 4% 0 0;
}

#layouts .cd-box {
	border: none;
}

.fullscreen {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#demo-header {
	opacity: .6 !important;
	position: relative;
	z-index: 0;
	align-self: flex-start;
}

.cd-hero-box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;

    width: 100%;
    background-image: url(../img/rva_street_fest.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 20em;

	 div.title-block {
		text-align: left;
		position: relative;
		-webkit-align-self: flex-end; 
		align-self: flex-end;
		left: 5%;
		bottom: 10px;
		max-width: 90%;
		
		h1 {
			display: inline-block;
		}

		h3 {
			margin-top: 5px;
			display: inline-block;
			margin: 0;
			max-width:80%;
		}
	}

	@include MQ(XS) {
		height: 25em;
	}

	@include MQ(S) {
		height: 30em;
	}

	@include MQ(M) {
		height: 40em;
		& h3 {
			font-size: 2.4rem;
		}
	}

	@include MQ(L) {
		height: 60em;
		& h3 {
			font-size: 3.8rem;
		}
	}
}

.leaderboard-ad {
	text-align: center;
	display: table;
    width: 100%;
    table-layout: fixed;
	background: $color-yellow;
	height: 20em;

	& p {
		padding-top: 5%;
	}
}

.cd-gutter-box {
	//max-width: 1200px;
    margin-left: 5%;
    margin-right: 5%;
	overflow: hidden;

	.section-title 
	{
		width: 100%;
		text-align: center;
		border-top: 2px solid $color-grey;
		margin-top: 2em;
		min-height: 61px;

		h2 {
			top: -25px;
			display: inline-block;
			position: relative;
			background-color: $color-white;
			padding: 0 10px;

			@include MQ(S) {
				top: -30px;
			}
		}

	}
}

.cd-2x1-box {

	& article {
		padding: 0 0 2em 0;
	}

	@include MQ(S) {
		float: left;
		width: 100%;

		& article:nth-of-type(1)  {
			padding: 0 .5em 2em 0;
		}

		& article:nth-of-type(2) {
			padding: 0 0 2em .5em;
		}
		
		& article {
				float: left;
				width: 50%;
		}
	}
	
	& div.article-image {
			height: 10em;
			background-image: url(../img/rva_street_fest.jpg);
			background-position: 0% 25%;
			background-size: cover;
			background-repeat: no-repeat;
	}
}

.cd-3x3-box {

	& article {
		padding: 0 0 1em 0;

		@include MQ(S) {
			float: left;
			width: 33.3%;
			padding-right: 1em;
		}
	}
	
	& div.article-image {
			height: 10em;
			background-image: url(../img/rva_street_fest.jpg);
			background-position: 0% 25%;
			background-size: cover;
			background-repeat: no-repeat;
	}
}

.cd-sidebar {

	@include MQ(S) {
		float: left;
		width: 75%;
	}

}

.widesky-sidebar {
	display: none;

	@include MQ(S) {
		display: block;
	}

	overflow: hidden;
	& div.widesky-ad {
		background-color: $color-yellow;
		height: 30em;
		padding-top: 50%;
		text-align: center;

		p {
			width: 100%;
		}
	}
	
	& div.social-buttons {
		margin-top: 1em;
		padding: 1em;
		background-color: $color-grey;
	}

	& ul.social-buttons {
		border-left: .3em solid $color-black;

		& li {
			    height: 55px;
    			width: 55px;
				margin: 1em;
				span {
					font-weight: 600;
					font-size: 1.8rem;
					color: $color-black;
					position: relative;
					left: 60px;
					top: 15px;
				}
		}
	}
}

.ad-text {
	
	@include MQ(S) {
		font-size: 1rem;
	}

	@include MQ(M) {
		font-size: initial;
	}
}

.ad-bigboy-block {

	@include MQ(S) {
		float: left;
		width: 100%;
	}

	& div.ad-big-boy::before {
		content:"advertizement";
		position: relative; 
		top: -10px;
	}

	.ad-container {
		width: 100%;
		padding-top: 89.5%; /* 1:.896 Aspect Ratio */
		position: relative; /* If you want text inside of it */
	}

	& div.ad-big-boy {
		text-align: center;
		
		@include MQ(S) {
			width: 25%;
			float: left;
		}

		& p {
			background-color: $color-yellow;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding-top: 10%;
		}
	}

	& div.ad-big-boy:nth-of-type(2) {
		display: none;
	}

	& div.ad-big-boy:nth-of-type(3) {
		display: none;
	}

	& div.ad-big-boy:nth-of-type(4) {
		display: none;
	}

	@include MQ(S) {
		& div.ad-big-boy { 
			padding: 0 .2em 2em .2em; 
			display: block !important;
		}

		& div.ad-big-boy:nth-of-type(1)  {
			//padding-left: 0;
		}
		
		& div.ad-big-boy:nth-of-type(4)  {
			//padding-right: 0;
		}
	}
}

.cd-vspace-box {
	height: 2em;
}

.cd-subscribe-box {
	//padding: 0 .2em 2em .2em; 
	text-align: center;

	& input {
		margin-bottom: 1em;
	}

	@include MQ(S) {
		float: left;
		width: 50%;

		& input {
			margin-bottom: 0;
		}
	}

	form {
		margin: 0 auto;
		background-color: $color-grey;
		padding: 15pt 0;
		//margin: 1em 0;
	}
}

.cd-subscribe-block {

	& div.cd-subscribe-box:nth-of-type(2n) {
		form {
			margin: 2em .2em 2em 0;
		}

		@include MQ(S){
			padding-right: 1em;
		}
	}

	& div.cd-subscribe-box:nth-of-type(3n) {
		form {
			margin: 0 0 2em .2em;
		}

		@include MQ(S){
			padding-left: 1em;
		}
	}
}

	.ar-scale-box {
		width: 100%;
		padding-top: 50%; /* 1:1 Aspect Ratio */
		position: relative; /* If you want text inside of it */
		overflow:hidden;
	}

	img.ar-content {
		position: absolute;
		top: -25%;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: auto;
	}

	.article {
		h1, h2, h3, blockquote {
			text-align: center;
			background-color: $color-white;
			color: $color-black;
		}

		h2 {
			margin: .5em 0; 
			font-weight: 300;
			font-size: 2.6rem;
		}

		h3 {
			font-weight: 900;
		}

		hr {
			width: 70%;
		}
		
		@include MQ(S) {
			& article {
				width: 75%;
				float: left;
				padding-right: 1em;
			}

			& aside {
				text-align: center;
				margin-top: 1em;
			}
			& aside::before {
				content: "Advertizement";
				padding-top: 1em;
			}

			& p, blockquote { 
				float: left;
			}
		}
		.tags{
			font-weight: 900;
			text-transform: uppercase;
			span {
				font-weight: initial;
			}
		}

		.cd-icons {
			border: none;
			text-align: center;
			li { 
				margin: .1em;
				height: 55px;
    			width: 55px;
				span {
					font-weight: 600;
					font-size: 1.8rem;
					color: $color-black;
					position: relative;
					left: 60px;
					top: 15px;
				}
			}
		}
	}



@import '../partials/basic-style';