@import './bourbon/bourbon'; // http://bourbon.io/

@import '../partials/layout'; // responsive grid and media queries

@import './font-awesome/font-awesome';

// color palette - these colors will be the color swatches of the Colors section

$color-black: 	#0d0d0d; // Near Black
$color-yellow: 	#fff200; // Yellow - Action color
$color-red: 	#ee1c25; // Red
$color-green: 	#6fce72; // Green
$color-grey: 	#e6e6e6; // light grey
$color-white: 	#ffffff; // white

// additional colors

$success: $color-green; // green
$alert: $color-red;  // red

// Social Media colors

$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;

// fonts

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$serif-font: serif;

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
	/* this is the page background */
	background-color: $color-white;
}

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
	/* this is the container of various design elements - i.e. the 2 logo of the branding section */
	border: 1px solid $color-grey;
	border-radius: 3px;
	background: $color-white;
	box-shadow: 0 1px 1px rgba(#000, .05);
	padding: 6px;
}

.bg-black {
  background: $color-black;
}

/* -------------------------------- 

xNavigation 

-------------------------------- */

header {
	background-color: $color-black;

	// @include MQ(S) {
	// 	margin-bottom: 100px;
	// }

	h2 {
		font-style: italic;
		font-weight: 600;
		color: $color-yellow;
	}
}

.cd-logo {
	/* logo box style */
	background-color: $color-black;
	width: 100px;
	height: 100px;

	@include MQ(M) {
		width: 130px;
		height: auto;
	}
}

.cd-main-nav {
	/* main navigation background color - full screen on small devices */
	background: $color-black;
	font-family: $secondary-font;
  	font-weight: 800;
  	text-transform: uppercase;

	li a {
		color: $color-white;
		border-color: lighten($color-black, 5%);
	}

	@include MQ(M) {
		li a  {
			&.selected {
				color: $color-grey;
				box-shadow: 0 2px 0 $color-yellow;
			}

			&.no-touch &:hover {
				color: $color-yellow;
			}
		}
	}
}

.cd-nav-trigger span {
	/* hamburger menu */
	background-color: $color-white;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $color-white;
	}
}

.nav-is-visible .cd-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($color-white, 0);

	&::before, &::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($color-white, 1);
	}
}

.cd-download {
	/* download button top-right visible on big devices */
	background-color: lighten($color-black, 10%);

	.no-touch &:hover {
		background-color: lighten($color-black, 15%);
	}

	span {
		/* tooltip */
		background: $color-yellow;
		color: $color-white;

		&::before {
			/* right arrow color */
			border-color: $color-yellow;
		}
	}
}

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {

	display: block;
}

/* -------------------------------- 

xTypography 

-------------------------------- */

h1, h2, h3{
	font-family: $secondary-font;
	color: $color-black;
}

h1 {
	color: $color-yellow;
	background-color: $color-black;
	font-size: 2.4rem;
	font-weight: 800;
	line-height: 1.2;
	margin: 0 0 .4em;

	@include MQ(S) {
		font-size: 3.2rem;
	}

	@include MQ(M) {
		font-size: 4rem;
	}
}

h2 {
	font-weight: 800;
	//text-transform: uppercase;
	margin: 1em 0;

	@include MQ(S) {
		font-size: 1.8rem;
		margin: 1em 0 1.4em;
	}
}

section > h2::before {
	/* number before each section title */
	color: darken($color-grey, 15%);
}

.author {
	font-family: $serif-font;
	color: $color-yellow;
	background-color: $color-black;
	line-height: 1.2;
	margin: 1em 0;
	font-style: italic;
	font-weight: 600;
	font-size: 1.8rem;
	padding: 5pt;

	a {
		color: darken($color-yellow, 5%);
		//text-decoration: none;
	}

	@include MQ(S) {
		font-size: 1.8rem;
		margin: 1em 0 1.4em;
	}
}

.author::before {
	/* by before the author's name */
	content: 'by ';
	font-style: normal;
	font-weight: 400;
	color: darken($color-grey, 15%);
}

blockquote {
	border-top: 10px solid $color-grey;
	border-bottom: 2px solid $color-grey;
	padding: 10px;
	font-size: 2.4rem;
	font-weight: 800;
	line-height: 1.2;
	margin: .4em 0;

	a {
		color: darken($color-yellow, 5%);
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: 3.2rem;
	}

	@include MQ(M) {
		font-size: 4rem;
	}
}

cite {
	font-size: 1.4rem;
	line-height: 1.4;
	a {
		color: darken($color-yellow, 5%);
		text-decoration: underline;
	}
	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

q {
	font-size: 1.4rem;
	line-height: 1.4;
	font-style: italic;
	margin: .4em 0;
	
	a {
		color: darken($color-yellow, 5%);
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}
q:before, q:after {
    font-size: 1.4rem;
    line-height: 1;
}
q:before {
    content: "\201C";
}
q:after {
    content: "\201D";
}

p {
	font-size: 1.4rem;
	line-height: 1.4;
	color: lighten($color-black, 25%);

	a {
		color: darken($color-yellow, 5%);
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

/* -------------------------------- 

xButtons 

-------------------------------- */

.btn {
	
	border: none;
	box-shadow: none;
	border-radius: .25em;
	font: {
		size: 2.4rem;
		weight: 800;
		family: $secondary-font;
	}
	color: $color-white;
	padding: 3pt 10pt;
	cursor: pointer;
	background: $color-yellow;
	color: $color-black;
	text-transform: uppercase;

	&:focus {
		outline: none;
	}

	.no-touch &:hover {
		background: lighten($color-yellow, 5%);
	}

	&.btn-success {
		background: $success;
		color: $color-white;
		.no-touch &:hover {
			background: lighten($success, 5%);
		}
	}

	&.btn-alert {
		background: $alert;
		color: $color-yellow;
		.no-touch &:hover {
			background: lighten($alert, 5%);
		}
	}

	&.btn-outline {
		color: $color-black;
		background: transparent;
		box-shadow: inset 0 0 0 1px $color-black;

		.no-touch &:hover {
			color: $color-white;
			background: $color-yellow;
		}
	}

	@include MQ(S) {
		font-size: 1.6rem;
	}
}

.cd-buttons .cd-box:nth-of-type(2) span {
	/* CSS class name color */ 
	color: $color-green;
}

/* -------------------------------- 

xIcons 

-------------------------------- */

.cd-icons li {
	/* icons size */
	width: 32px;
	height: 32px;
	
	& i:hover {
		color: $facebook;
	}
}

/* -------------------------------- 

xForm 

-------------------------------- */

#form .cd-box {
	background-color: $color-grey;
	//background: $color-grey;
}

input[type=text], select {
	border: 1px solid $color-grey;
	border-radius: .25em;
	background: $color-white;

	&:focus {
		outline: none;
	}
}

input[type=text] {
	padding: .6em 1em;
	box-shadow: inset 1px 1px rgba(#000, .03);

	&.success {
		border-color: $success;
		box-shadow: 0 0 6px rgba($success, .2);
	}

	&.alert {
		border-color: $alert;
		box-shadow: 0 0 6px rgba($alert, .2);
	}

	&:focus {
		border-color: $color-yellow;
		box-shadow: 0 0 6px rgba($color-yellow, .2);
	}
}

input[type=radio],
input[type=checkbox] {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.radio-label,
.checkbox-label {
	padding-left: 24px;
	@include user-select(none);

	&::before,
	&::after {
		/* custom radio and check boxes */
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
	}

	&::before {
		left: 0;
		border: 1px solid  darken($color-grey, 50%);
		box-shadow: inset 1px 1px rgba($color-grey, .03);
		//background-color: $color-grey;
	}

	&::after {
		left: 3px;
		background: url('../assets/form/icon-check.svg') no-repeat center center;
		background-color: $color-grey;
		display: none;
	}
}

.radio-label::before {
	border-radius: 50%;
}

.checkbox-label::before {
	border-radius: 3px;
}

input[type=radio]:checked + label::before,
input[type=checkbox]:checked + label::before {
	//background-color: darken($color-grey, 50%);
	border: none;
	box-shadow: none;
}

input[type=radio]:checked + label::after,
input[type=checkbox]:checked + label::after {
	display: block;
}

.cd-select::after {
	/* switcher arrow for select element */
	content: '';
	position: absolute;
	z-index: 1;
	right: 14px;
	top: 50%;
	@include transform(translateY(-50%));
	display: block;
	width: 16px;
	height: 16px;
	background: url('../assets/form/icon-select.svg') no-repeat center center;
	pointer-events: none;
}

select {
	position: relative;
	padding: .6em 2em .6em 1em;
	cursor: pointer;
	@include appearance(none);
}

@import '../partials/basic-style';